.master-menu-wrapper {
  -webkit-app-region: no-drag;
  position: absolute;
  z-index: 100;
  right: -80vw;
  top: 0;
  bottom: 0;
  left: 100vw;
  background-color: var(--color-white);
  box-shadow: 0 0 20px 1px #555;
  transform: rotate(20deg) translateY(10vh) translateX(8vw);
  transition: 1s;
}

.master-note-menu {
  -webkit-app-region: no-drag;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  left: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
  overflow: hidden;
}

.menu {
  width: 100vw;
  height: 100vh;
  margin-left: -80vw;
  padding: 20px calc(20vw + 20px) 40px 20px;
  transition: 1s;
}

.menu-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.add-btn {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-main-light);
  box-shadow: 0 0 5px 2px var(--color-main-dark);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  transform: scale(1.0);
  transition: 0.5s;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--color-main-dark);
  box-shadow: 0 0 5px 2px var(--color-main-light);
  transform: scale(1.1);
}

.add-btn:hover + .menu-hint,
.close-btn:hover + .menu-hint {
  opacity: 1;
}

.add-btn:hover .menu-hint:hover,
.close-btn:hover .menu-hint:hover {
  opacity: 0;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 5vh;
}

.menu label {
  display: flex;
}

.menu label:hover .menu-hint {
  opacity: 1;
}

.menu-hint {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 20px;
  transition: 0.5s;
}

.menu label:hover .menu-hint:hover {
  opacity: 0;
}

.menu-input-title {
  display: inline-block;
  width: 30vw;
  min-width: 100px;
}

.master-menu-wrapper:hover {
  left: 20vw;
  right: 0;
  transform: rotate(0);
}

.master-menu-wrapper .master-note-menu {
  left: 0;
}

.master-menu-wrapper:hover .menu {
  margin-left: 0;
}

.font-color-sample,
.title-font-color-sample {
  width: 20px;
  height: 20px;
}
