@font-face {
  font-family: Caveat;
  src: url('./accets/fonts/Caveat-Regular.ttf');
}

@font-face {
  font-family: Caveat;
  src: url('./accets/fonts/Caveat-Bold.ttf');
  font-weight: bold;
}

:root {
  --color-main: #ede4db;
  --color-main-dark: #dcd3ca;
  --color-main-light: #fef5ec;
  --color-white: #ffffff;

  --font-main: 'Caveat', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
  overflow: hidden;
}

.top-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.note-area {
  -webkit-app-region: no-drag;
  display: block;
  flex-grow: 10;
  width: 95vw;
  margin: 10px auto 2vh;
  padding: 7px;
  border: none;
  resize: none;
  background-color: transparent;
  font-family: var(--font-main);
  font-size: 20px;
}

.close-btn {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: var(--color-main-light);
  box-shadow: 0 0 5px 2px var(--color-main-dark);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  transform: scale(1.0);
  transition: 0.5s;
  cursor: pointer;
}

.close-btn:hover {
  background-color: var(--color-main-dark);
  box-shadow: 0 0 5px 2px var(--color-main-light);
  transform: scale(1.1);
}

.note-face {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-white) url('./accets/images/paper.jpg') center / cover no-repeat;
}

.child-note-menu-wrapper {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0;
  top: 0;
}

.title-input {
  -webkit-app-region: no-drag;
  margin: 20px 0 0 2.5vw;
  padding: 7px;
  border: none;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
}